@import 'variables';

.block {
    background-color: white;
    width: 65%;
    height: 500px;
    margin-left: 40%;
}
  
.text {
    padding-top: 240px;
}

.link {
    width: 140px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
}


.list {
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: row;
    margin-right: 120px;
}