@import 'variables';

#navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  width: 100vw;
  position: fixed;
  top: 0;
}

#logo-container {
  display: flex;
  align-items: center;
  margin-left: $padding-horiz;
  cursor: pointer;

  h1 {
    margin: 0;
    margin-left: 20px;
  }
}

#logo {
  width: 40px;
  height: 40px;
  background-image: url('../public/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#navigation {
  text-align: right;
  flex: 1;
  justify-content: center;
  margin-right: $padding-horiz;
  margin-left: auto;
  color: map-get($colors, navbarText);
  transition: color $navbar-transition;
}

#navigation span {
  margin-left: 6%;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 100%;
    border-bottom: 2px solid map-get($colors, 'black');
    transition: right 0.3s ease-out;
  }

  &:hover::after {
    right: 0;
  }
}

#navigation > #viewing {
  &::after {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 30px;
    height: 30px;
  }

  #logo-container {
    margin-left: $padding-horiz-mobile;
    h1 { display: none; }
  }

  #navigation {
    margin-right: $padding-horiz-mobile;
    span {
      font-size: 16px;
    }
  }
}