@import 'variables';

#container {
  margin-top: calc(#{$navbar-height});
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - #{$navbar-height});
  margin-right: 10%;
}

#layout {
  display: flex;
  flex-direction: row;
}

#frame {
  margin-top: 100px;
  width: 80%;
  order: -1;
  margin-left: 10%;
}

#fillerText {
  margin-left: 25%;
  margin-top: 34%;
}

#list {
  margin-top: 32px;
}

#listContainer {
  margin-top: 100px;
  list-style-type: none;
  width: 200px;
  margin-right: 50px;
}
