@import 'variables';

#layout {
  width: 100vw;
  max-width: $max-width;
  display: flex;
}

$frame-width: clamp(500px, 50vw, 720px);

#frame {
  margin-top: calc(#{$navbar-height} + 100px);
  margin-left: $padding-horiz;

  width: $frame-width;
  height: calc(#{$frame-width}* 2 / 3);

  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  margin-top: calc(#{$navbar-height} + 100px);
  
  margin-left: $padding-horiz;
  margin-right: $padding-horiz;
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 600px) {
  #frame {
    display: none;
  }

  #container {
    margin-top: $navbar-height;
    margin-left: $padding-horiz-mobile;
    a {
      font-size: 18px;
    }
  }
}
