@import 'variables';

#main {
  width: 100%;
}

#layout {
  width: 100%;
  max-width: $max-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#background {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(72, 150, 202, 0.2), rgba(237, 209, 71, 0.1));
  background-attachment: fixed;
}

#logo-main {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  background-image: url('../public/logo_transparent.svg');
  background-size: cover;
}

#atcl {
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}

#text-about {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  max-width: 400px;
  text-align: center;
}

#tinycl-button {
  border: 1px solid black;
  background-color: white;
  font-family: Lato, sans-serif;
  font-size: 20px;
  max-width: 600px;
  margin: 12px;
  width: calc(100% - 80px);
  height: 64px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

#tinycl-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
